<footer style="background-color: var(--greenTint);">
  <div class="container app-footer">
    <div>
      <h3>Quick Links</h3>
      <ul>
        {% for item in site.data.footerNavigation.options %}
        <li><a href="{{ item.url }}" {% if page.url == item.url %} {% endif %}>{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h3>TECH-NIH</h3>
      <ul>
        {% for item in site.data.footerNavigation.techNIH %}
        <li>{{ item.text }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h3>Get in touch</h3>
      <ul>
        {% for item in site.data.footerNavigation.getInTouch %}
        <li> <i class="{{item.icon}}"></i> {{ item.text }}</li>
        {% endfor %}
      </ul>
    </div>
    <div style="overflow: hidden;">
      <h3>Connect</h3>
      <div style="padding: 0;">
        {% for item in site.data.footerNavigation.connect %}
        <span style="color: #668b22;"> <i class="{{ item.icon }}"></i></span>
        {% endfor %} 
      </div>
      <div style="position: relative;">
        <a href="/">
          <img src="/assets/images/site-logo-transparent.png" class="footer-logo" alt="Site-logo">
        </a>
      </div>
    </div>
  </div>
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl, {
        'customClass': 'custom-tooltip-' + tooltipTriggerEl.className,
        html: true
      })
    });
  </script>
</footer>