.About_us_main{
  background-image: url('/assets/images/background_img.png');
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
}
.About_us{
  text-align: left;
}
.About_us_Img img{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.Doted_image img{
  position: unset;
    margin-bottom: -233px;
    width: 650px;
}
@media (max-width: 767px)
 {
   .Doted_image img{
     display: none;
   }
  }
.round_images img{
  border: 1px solid transparent;
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
}
.round_images p{
margin-top: 15px!important;
}

.Structure_div{
  text-align: left;
}
.Organogram_Div{
  text-align: left;
}





// ==============organogram===============
.container_organogram{
  text-align: left;
}
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.caret img{
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
// .caret::before {
//   content: "\25B6";
//   color: black;
//   display: inline-block;
//   margin-right: 6px;
// }

// .caret-down::before {
//   -ms-transform: rotate(90deg); /* IE 9 */
//   -webkit-transform: rotate(90deg); /* Safari */
//   transform: rotate(90deg);  
// }

.nested {
  display: none;
}

.active {
  display: block;
}


// ============dummy organogram=================


*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Generic styling */

body{
	background: #F5EEC9;	
}

.Ocontent{
	width: 100%;
	max-width: 1142px;
	margin: 0 auto;
	padding: 0 20px;
}

.Ocontent a:focus{
	outline: 2px dashed #f7f7f7;
}

@media screen and (max-width: 767px){
	.Ocontent{
		padding: 0 20px;
	}	
}

.Ocontent ul{
	padding: 0;
	margin: 0;
	list-style: none;		
}

.Ocontent ul a{
	display: block;
	background: #ccc;
	border: 4px solid red;
	text-align: center;
	overflow: hidden;
	font-size: .7em;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	height: 70px;
	margin-bottom: -26px;
	box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
}

@media print {
  .Ocontent ul a{
        border: 4px solid green;
    }
}

@media screen and (max-width: 767px){
	.Ocontent ul a{
		font-size: 1em;
	}
}


.Ocontent ul a span{
	// top: 50%;
	// margin-top: -0.7em;
	display: block;
}

/*
 
 */

.administration > li > a{
	margin-bottom: 25px;
}

.director > li > a{
	width: 100px;
  height: 100px;
	margin: 0 auto 0px auto;
  border-radius: 50%;
}

.subdirector:after{
	content: "";
	display: block;
	width: 0;
	height: 130px;
	background: red;
	border-left: 4px solid yellow;
	left: 50%;
	position: relative;
}

@media print {
    .subdirector:after{
        border-left: 4px solid orange;
    }
}

.subdirector,
.departments{
	position: absolute;
	width: 100%;
}

.subdirector > li:first-child,
.departments > li:first-child{	
	width: 18.59894921190893%;
	height: 64px;
	margin: 0 auto 92px auto;		
	padding-top: 25px;
	// border-bottom: 4px solid violet;
	z-index: 1;	
}

@media print {
    .subdirector > li:first-child,
    .departments > li:first-child{
        border-bottom: 4px solid darkblue;
    }
}

.subdirector > li:first-child{
	float: right;
	right: 27.2%;
	border-left: 4px solid black;
}

@media print {
    .subdirector > li:first-child{
	    border-left: 4px solid darkgray;
    }   
}

.departments > li:first-child{	
	float: left;
	left: 31.8%;
	border-right: 4px solid pink;	
}

@media print {
    .departments > li:first-child{
        border-right: 4px solid darkmagenta;	
    }
}

.subdirector > li:first-child a,
.departments > li:first-child a{
	width: 100%;
}

.subdirector > li:first-child a{	
	left: 25px;
}

@media screen and (max-width: 767px){
	.subdirector > li:first-child,
	.departments > li:first-child{
		width: 40%;	
	}

	.subdirector > li:first-child{
		right: 10%;
		margin-right: 2px;
	}

	.subdirector:after{
		left: 49.8%;
	}

	.departments > li:first-child{
		left: 10%;
		margin-left: 2px;
	}
}


.departments > li:first-child a{
	// right: 25px;
  left: 95px;

}

.department:first-child,
.departments li:nth-child(2){
	margin-left: 0;
	clear: left;	
}

.departments:after{
	content: "";
	display: block;
	position: absolute;
	width: 81.1%;
	height: 22px;	
	border-top: 4px solid darksalmon;
	border-right: 4px solid darkturquoise;
	border-left: 4px solid darkslategrey;
	margin: 0 auto;
	top: 130px;
	left: 9.1%
}

@media print {
    .departments:after{
        border-top: 4px solid #000;
        border-right: 4px solid #000;
        border-left: 4px solid #000;
    }
}

@media screen and (max-width: 767px){
	.departments:after{
		border-right: none;
		left: 0;
		width: 49.8%;
	}  
}

@media screen and (min-width: 768px){
	.department:first-child:before,
   .department:last-child:before{
    border:none;
  }
}

.department:before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 22px;
	border-left: 4px solid brown;
	z-index: 1;
	top: -22px;
	left: 50%;
	margin-left: -4px;
}

@media print {
    .department:before{
        border-left: 4px solid burlywood;
    }
}

.department{
	border-left: 4px solid indigo;
	width: 18.59894921190893%;
	float: left;
	margin-left: 1.751313485113835%;
	margin-bottom: 60px;
}

@media print {
    .department{
	    border-left: 4px solid #333;
    }
}

.lt-ie8 .department{
	width: 18.25%;
}

@media screen and (max-width: 767px){
	.department{
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.department:before{
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 60px;
		border-left: 4px solid dimgray;
		z-index: 1;
		top: -60px;
		left: 0%;
		margin-left: -4px;
	}

	.department:nth-child(2):before{
		display: none;
	}
}

.department > a{
	margin: 0 0 -26px -4px;
	z-index: 1;
}

.department > a:hover{	
	height: 80px;
}

.department > ul{
	margin-top: 0px;
	margin-bottom: 0px;
}

.department li{	
	padding-left: 25px;
	border-bottom: 4px solid fuchsia;
	height: 80px;	
}

@media print {
    .department li{
        border-bottom: 4px solid #FFD600;
    }
}

.department li a{
	background: #fff;
	top: 48px;	
	position: absolute;
	z-index: 1;
	width: 90%;
	height: 60px;
	vertical-align: middle;
	right: -1px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%) !important;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)))!important;
	background-image: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: -o-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	background-image: linear-gradient(135deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 );
}

.department li a:hover{
	box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);
	height: 80px;
	width: 95%;
	top: 39px;
	background-image: none!important;
}

/* Department/ section colors */
.department.dep-a a{ background: #FFD600; }
.department.dep-b a{ background: #AAD4E7; }
.department.dep-c a{ background: #FDB0FD; }
.department.dep-d a{ background: #A3A2A2; }
.department.dep-e a{ background: #f0f0f0; }