@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.contact{
    text-align: left;
}

.contact a{
    color: #668B22;
    text-decoration: none;
    font-weight: 700;
}

.contact .brief_case a i{
    color: #668B22;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 700;
}

.contact .arrow a i{
    color: #668B22;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 700;
}