body {
  margin: 0 !important;
  color: var(--darkText);
}

.background-abstract {
  position: relative;
  width: 100vw; 
  div {
    overflow: hidden;
    div {
      position: absolute;
      img.bubble1 {
        position: absolute;
        z-index: -99;
        top: 580px;
        right: -450px;
        transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);;
        opacity: 20%;
      }
    }
  }
}

* {
  font-family: 'Epilogue', sans-serif;
}

h2 {
  font-weight: 700;
}

.container {
  margin: 10px auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
  margin-bottom: 2.5rem;

  .active-link {
    color: var(--primaryText) !important;
  }

  .nav-left {
    a {
      padding: 0px 5px;
    }
  }

  .nav-right {
    display: flex;
    a {
      text-decoration: none;
      color: #000;
      padding: 0px 17px;
      font-size: 1.2em;
    }
  }

  .logo {
    width: 5.5em;
  }

  .app-logo-sm {
    padding-left: 10px;
    padding-right: 10px;
    width: 4em;
  }
}

.app-footer {
  background-color: var(--greenTint);
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  text-align: left;
  padding-left: 20px;
  h3 {
    color: var(--primaryText);
    font-size: 1.1rem;
    padding-bottom: 10px;
  }
  ul {
    padding: 5px 0px;
    list-style-type:none;
    margin-bottom: 0px;
    color: var(--primaryText);
    li {
      padding: 3px 0px;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: var(--primaryText);
    }
    a:hover {
      font-weight: bold;
    }
  }
  div {
    width: 100%;
    padding: 10px;
  }

  span {
    padding: 0px 8px;
    font-size: 1.4rem;
  }

  .footer-logo {
    width: 7em;
    position: absolute;
    left: 80px;
    margin-top: 24px;
  }
}

.slide-image {
  height: 370px  !important;
  border-radius: 10px !important;
}

.slide-image-1 {
  background-image: linear-gradient(90deg, rgba(172, 232, 62, 0.5) 29.17%, rgba(141, 206, 23, 0.0514706) 78.13%, rgba(138, 203, 19, 0) 100%), url('/assets/images/slide1.png');
  background-size: cover;
  background-position: 0px -96px;
}

.slide-image-2 {
  background-image: linear-gradient(270deg, rgba(172, 232, 62, 0.5) 29.17%, rgba(141, 206, 23, 0.0514706) 78.13%, rgba(138, 203, 19, 0) 100%), url('/assets/images/slide2.png');
  background-size: cover;
  background-position: 0px -226px !important;
}

.slide-image-3 {
  background-image: linear-gradient(270deg, rgba(172, 232, 62, 0.5) 29.17%, rgba(141, 206, 23, 0.0514706) 78.13%, rgba(138, 203, 19, 0) 100%), url('/assets/images/slide3.png');
  background-size: cover;
  background-position: 0px -96px;
}

.carousel-caption {
  left: 6% !important;
  right: 6% !important;
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
  }
  p {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%; // /* add border-radius */
}

.carousel-indicators .active {
  opacity: 1;
  width: 16px;
  margin-top: -2px;
  height: 16px;
}

.carousel-control-next-icon {
  background-image: url('/assets/images/carousel-next.svg') !important;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.carousel-control-next-icon:hover {
  width: 35px;
}

.carousel-control-prev, .carousel-control-next {
  width: 6% !important;
  color: #fff !important; 
  font-weight: 600 !important;
  text-decoration: none;
  opacity: .9;
}

.carousel-control-next {
  font-size: 1.2rem;
}

.app-card {
  position: relative;
  width: 400px;
  height: 380px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(75px);
  border-radius: 20px;
  margin: auto;
  padding: 45px 40px;
  text-align: left;
  overflow: hidden;

  img {
    width: 80px;
    position: absolute;
    bottom: -17px;
    right: -10px;
  }

  svg.vertical {
    position: absolute;
    right: 20px;
    top: 0px;
  }

  svg.horizon {
    position: absolute;
    left: 0px;
    bottom: 20px;
  }
}

.vision-card {
  background: #F5FFE7;
  h3 {
    color: #A9C96E;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 2px;
  }

  p {
    color: #A9C96E;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 25.88px;
  }
}

.mission-card  {
  background: #A9C96E;

  h3 {
    color: #F5FFE7;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 2px;
  }

  p {
    color: #F5FFE7;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 25.88px;
  }
}

.impact-section {
  position: relative;
  width: 100vw;
  height: 540px;
  background: rgba(192, 231, 120, 0.3);
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 5px;
  // backdrop-filter: blur(50px);

  h3 {
    color: #668B22;
    font-weight: 700;
    font-size: 1.8rem;
  }
  p {
    color: #668B22;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2px;
  }

  .row, .col-md-6, .col-md-4, .col-md-5, .col-md-7 {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .col-md-4 {
    padding: 15px !important;
  }

  .col-md-6 {
    padding: 15px !important;
  }

  .card {
    padding: 30px 10px 20px 10px;
    background: #F8FFEE;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(75px);
    border-radius: 20px;
    height: 350px;
    img {
      width: 100px;
      margin: 0 auto;
    }
    object {
      margin: 0 auto;
    }
    ul {
      margin-top: 20px;
      text-align: left;
      padding: 0 !important;
      list-style-type: none;
    }
    li {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      font-size: .8rem;
      font-weight: 300;
      line-height: 20px;
      color: #668B22;
      object {
        width: 12px;
        height: 12px;
      }
      div {
        flex: 0 0 90%; 
      }
    }
  }
}
.our-process-section {
  position: relative;
  width: 100vw;
  height: 640px;
  background: #FFFF;
 // background-image: url("/assets/images/bubble1.png");
  margin-bottom: 0px;
  text-align: center;
  padding: 30px 5px;
  // backdrop-filter: blur(50px);

  h3 {
    color: #668B22;
    font-weight: 500;
    font-size: 1.5rem;
  }
  p {
    color: #0a0a0a;
    font-weight: 150;
    font-size: .4rem;
    margin-bottom: 2px;
  }

  .row, .col-md-6, .col-md-4, .col-md-5, .col-md-7 {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .col-md-4 {
    padding: 15px !important;
  }

  .col-md-6 {
    padding: 15px !important;
  }

  .card {
    padding: 30px 10px 20px 10px;
    background: #F8FFEE;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(75px);
    border-radius: 20px;
    height: 350px;
    img {
      width: 100px;
      margin: 0 auto;
    }
    object {
      margin: 0 auto;
    }
    ul {
      margin-top: 20px;
      text-align: left;
      padding: 0 !important;
      list-style-type: none;
    }
    li {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      font-size: .8rem;
      font-weight: 300;
      line-height: 20px;
      color: #668B22;
      object {
        width: 12px;
        height: 12px;
      }
      div {
        flex: 0 0 90%; 
      }
    }
  }
}