body {
  margin: 0 !important;
  color: var(--darkText);
}

.background-abstract {
  position: relative;
  width: 100vw; 
  div {
    overflow: hidden;
    div {
      position: absolute;
      img.bubble1 {
        position: absolute;
        z-index: -99;
        top: 580px;
        right: -450px;
        transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);;
        opacity: 20%;
      }
    }
  }
}

* {
  font-family: 'Epilogue', sans-serif;
}

h2 {
  font-weight: 700;
}

.container {
  margin: 10px auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
  margin-bottom: 2.5rem !important;

  .active-link {
    color: var(--primaryText) !important;
  }

  .nav-left {
    a {
      padding: 0px 5px;
    }
  }

  .nav-right {
    display: flex;
    ul > li > a {
      text-decoration: none;
      color: #000;
      padding: 0px 17px;
      font-size: 1.2em;
    }
    a {
      text-decoration: none;
      color: #000;
      padding: 0px 17px;
      font-size: 1.2em;
    }
  }

  .navbar-collapse {
    ul {
      margin-left: auto;
    }
    ul > li {
      padding-top: 15px;
    }
    ul > li > a {
      text-decoration: none;
      color: rgb(34, 29, 29);
      padding: 0px 17px;
      font-size: 1.2em;
    }
    a {
      text-decoration: none;
      color: #000;
      padding: 0px 17px;
      font-size: 1.2em;
    }
  }


  @media screen and (max-width: 992px) {
    
  }

  .logo {
    width: 5.5em;
  }

  .app-logo-sm {
    padding-left: 10px;
    padding-right: 10px;
    width: 4em;
  }
}

.app-footer {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-around;
  text-align: left;
  padding-left: 20px;
  h3 {
    color: var(--primaryText);
    font-size: 1.1rem;
    padding-bottom: 10px;
  }
  ul {
    padding: 5px 0px;
    list-style-type:none;
    margin-bottom: 0px;
    color: var(--primaryText);
    li {
      padding: 3px 0px;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      color: var(--primaryText);
    }
    a:hover {
      font-weight: bold;
    }
  }
  div {
    width: 100%;
    padding: 10px;
  }

  span {
    padding: 0px 8px;
    font-size: 1.4rem;
  }

  .footer-logo {
    width: 7em;
    position: absolute;
    left: 67px;
    margin-top: 24px;
  }
}

.slide-image {
  height: 370px  !important;
  border-radius: 10px !important;
}

.slide-image-1 {
  background-image: linear-gradient(90deg, rgba(172, 232, 62, 0.5) 29.17%, rgba(141, 206, 23, 0.0514706) 78.13%, rgba(138, 203, 19, 0) 100%), url('/assets/images/slide1.png');
  background-size: cover;
  background-position: 0px -96px;
}

.slide-image-2 {
  background-image: linear-gradient(270deg, rgba(172, 232, 62, 0.5) 29.17%, rgba(141, 206, 23, 0.0514706) 78.13%, rgba(138, 203, 19, 0) 100%), url('/assets/images/slide2.png');
  background-size: cover;
  background-position: 0px -226px !important;
}

.slide-image-3 {
  background-image: linear-gradient(270deg, rgba(172, 232, 62, 0.5) 29.17%, rgba(141, 206, 23, 0.0514706) 78.13%, rgba(138, 203, 19, 0) 100%), url('/assets/images/slide3.png');
  background-size: cover;
  background-position: 0px -96px;
}

.carousel-caption {
  left: 6% !important;
  right: 6% !important;
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
  }
  p {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%; // /* add border-radius */
}

.carousel-indicators .active {
  opacity: 1;
  width: 16px;
  margin-top: -2px;
  height: 16px;
}

.carousel-control-next-icon {
  background-image: url('/assets/images/carousel-next.svg') !important;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.carousel-control-next-icon:hover {
  width: 35px;
}

.carousel-control-prev, .carousel-control-next {
  width: 6% !important;
  color: #fff !important; 
  font-weight: 600 !important;
  text-decoration: none;
  opacity: .9;
}

.carousel-control-next {
  font-size: 1.2rem;
}

.app-card {
  position: relative;
  width: 400px;
  height: 380px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(75px);
  border-radius: 20px;
  margin: auto;
  padding: 45px 40px;
  text-align: left;
  overflow: hidden;

  img {
    width: 80px;
    position: absolute;
    bottom: -17px;
    right: -10px;
  }

  svg.vertical {
    position: absolute;
    right: 20px;
    top: 0px;
  }

  svg.horizon {
    position: absolute;
    left: 0px;
    bottom: 20px;
  }
}

.vision-card {
  background: #F5FFE7;
  h3 {
    color: #A9C96E;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 2px;
  }

  p {
    color: #A9C96E;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 25.88px;
  }
}

.mission-card  {
  background: #A9C96E;

  h3 {
    color: #F5FFE7;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 2px;
  }

  p {
    color: #F5FFE7;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 25.88px;
  }
}

.container-lg {
  max-width: 1700px;
  margin: auto;
}

.impact-section {
  position: relative;
  width: 100vw;
  background: rgba(192, 231, 120, 0.3);
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 5px;
  h3 {
    color: #668B22;
    font-weight: 700;
    font-size: 1.8rem;
  }
  p {
    color: #668B22;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2px;
  }

  .row, .col-lg-6, .col-lg-4, .col-xl-5, .col-xl-7 {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .col-lg-4 {
    padding: 10px !important;
  }

  .col-lg-6 {
    padding: 10px !important;
  }

  .card {
    padding: 30px 10px 20px 10px;
    background: #F8FFEE;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(75px);
    border-radius: 20px;
    height: 350px;  
    img {
      width: 100px;
      margin: 0 auto;
    }
    object {
      margin: 0 auto;
    }
    ul {
      margin-top: 20px;
      text-align: left;
      padding: 0 !important;
      list-style-type: none;
    }
    li {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      font-size: .9rem;
      font-weight: 300;
      line-height: 20px;
      color: #668B22;
      object {
        width: 12px;
        height: 12px;
      }
      div {
        flex: 0 0 90%; 
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .card {
      margin: auto;
      max-width: 300px;
    }
  }
}

.custom-tooltip-image-container-process-1 {
  z-index: 1 !important;
  .tooltip-inner {
    position: absolute;
    right: 10px !important;
    top: -70px !important;
    background: #A9C96E !important;
    max-width: 420px !important;
    width: 420px !important;
    padding: 35px 20px 20px 20px !important;
    font-weight: 550;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px;
  }
  .tooltip-arrow::before{
    border: none !important;
  }
}

.custom-tooltip-image-container-process-2 {
  z-index: 2 !important;
  .tooltip-inner {
    position: absolute;
    right: -20px !important;
    top: -70px !important;
    background: #A9C96E !important;
    max-width: 420px !important;
    width: 420px !important;
    padding: 35px 20px 20px 20px !important;
    font-weight: 550;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px;
  }
  .tooltip-arrow::before{
    border: none !important;
  }
}


.custom-tooltip-image-container-process-3 {
  z-index: 1 !important;
  .tooltip-inner {
    position: absolute;
    left: -28px !important;
    bottom: 5px !important;
    background: #A9C96E !important;
    max-width: 280px !important;
    width: 280px !important;
    padding: 20px 20px 50px 20px !important;
    font-weight: 550;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px;
  }
  .tooltip-arrow::before{
    border: none !important;
  }
}

.custom-tooltip-image-container-process-4 {
  z-index: 1 !important;
  .tooltip-inner {
    position: absolute;
    left: -30px !important;
    top: -50px !important;
    background: #A9C96E !important;
    max-width: 420px !important;
    width: 420px !important;
    padding: 35px 20px 20px 20px !important;
    font-weight: 550;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px;
  }
  .tooltip-arrow::before{
    border: none !important;
  }
}

.custom-tooltip-image-container-process-5 {
  z-index: 1 !important;
  .tooltip-inner {
    position: absolute;
    left: -20px !important;
    bottom: 30px !important;
    background: #A9C96E !important;
    max-width: 280px !important;
    width: 280px !important;
    padding: 20px 20px 50px 20px !important;
    font-weight: 550;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px;
  }
  .tooltip-arrow::before{
    border: none !important;
  }
}

.our-process-section {
  display: block;
  position: relative;
  width: 100vw;
  height: 800px;
  background: #FFFF;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  padding: 30px 5px;

  h2 {
    color: #4F4F4F;
    font-weight: 700;
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    margin-bottom: 16px;
  }

  .process-diagram {
    position: relative;
    margin-top: 60px;
    .center-abs {
      margin: auto;
    }

    p {
      color: #668B22;
      font-weight: 600;
      width: 190px !important;
    }

    .ellipse {
      z-index: 0;
      position: absolute;
      top: 40px;
      left: 320px;
    }

    .center-abs {
      position: absolute;
      top: 240px;
      right: 550px;
      opacity: 75% !important;
    }

    .image-container-process-1 {
      cursor: pointer !important;
      z-index: 3 !important;
      box-sizing: border-box;
      position: absolute;
      width: 100px;
      height: 100px;
      top: 430px;
      left: 359px;
      .image-container-process {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        width: 100px;
        height: 100px;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        border-radius: 50%;
        background: #C0E778;
        transition: all 350ms ease-in-out;
        img {
          height: 70px;
          margin: 15px auto 2px auto;
          pointer-events: none;
          transition: all 350ms ease-in-out;
        }
        p {
          position: absolute;
          left: -35px;
          top: 120px;
          pointer-events: none;
        }
        object {
          pointer-events: none;
        }
      }
      .arrow-1 {
        position: absolute;
        transform: rotate(175deg);
        top: 4px;
        left: -60px;
        z-index: 999;
      }
    }

    .image-container-process-1:hover .image-container-process {
      p {
        display: none;
      }
      width: 70px;
      height: 70px;
      img {
        height: 50px;
        margin: 10px auto 2px auto;
      }
    }

    .image-container-process-2 {
      z-index: 3 !important;
      cursor: pointer !important;
      position: absolute;
      box-sizing: border-box;
      top: 180px;
      left: 280px;
      width: 100px;
      height: 100px;
      .image-container-process {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: #C0E778;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        transition: all 350ms ease-in-out;
        backdrop-filter: blur(50px);
        img {
          height: 70px;
          margin: 15px auto 2px auto;
          transition: all 350ms ease-in-out;
          pointer-events: none !important;
        }
        p {
          position: absolute;
          right: 100px;
          top: 25px;
          pointer-events: none;
        }
        object {
          pointer-events: none;
        }
      }
    }

    .arrow-2 {
      position: absolute;
      top: -87px;
      left: 52px;
      z-index: 999;
    }

    .image-container-process-2:hover .image-container-process {
      p {
        display: none;
      }
      transform: scale(.65);
      transform-origin: 75% 3%;
      img {
        pointer-events: none;
        margin: 18px auto 2px auto;
      }
    }

    
    .image-container-process-3 {
      z-index: 3 !important;
      cursor: pointer !important;
      position: absolute;
      top: 180px;
      right: 320px;
      width: 100px;
      height: 100px;
      .image-container-process {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: #C0E778;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: all 350ms ease-in-out;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        img {
          height: 70px;
          margin: 15px auto 2px auto;
          pointer-events: none;
          transition: all 350ms ease-in-out;
        }
        p {
          position: absolute;
          left: 80px;
          top: 40px;
          pointer-events: none;
        }
      }
    }

    .arrow-3 {
      position: absolute;
      transform: rotate(33deg);
      top: 42px;
      left: 62px;
      z-index: 999;
    }

    .image-container-process-3:hover .image-container-process {
      p {
        display: none;
      }
      transform: scale(.65);
      transform-origin: 68% 100%;
      img {
        pointer-events: none;
        margin: 18px auto 2px auto;
      }
    }

    .image-container-process-4 {
      cursor: pointer !important;
      z-index: 3 !important;
      position: absolute;
      top: 430px;
      right: 390px;
      width: 100px;
      height: 100px;
      .image-container-process {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: #C0E778;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: all 350ms ease-in-out;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        img {
          height: 70px;
          margin: 15px auto 2px auto;
          pointer-events: none;
          transition: all 350ms ease-in-out;
        }
        p {
          position: absolute;
          left: -35px;
          top: 120px;
          pointer-events: none;
        }
      }
    }

    .image-container-process-4:hover .image-container-process {
      p {
        display: none;
      }
      transform: scale(.65);
      transform-origin: 0% 75%;
      img {
        pointer-events: none;
        margin: 18px auto 2px auto;
      }
    }

    .arrow-4 {
      position: absolute;
      transform: rotate(-20deg);
      top: -14px;
      left: -29px;
      z-index: 999;
    }

    .image-container-process-5 {
      cursor: pointer !important;
      z-index: 3 !important;
      position: absolute;
      top: 0px;
      right: 550px;
      width: 100px;
      height: 100px;
      .image-container-process {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: #C0E778;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        transition: all 350ms ease-in-out;
        backdrop-filter: blur(50px);
        img {
          pointer-events: none;
          transition: all 350ms ease-in-out;
          height: 70px;
          margin: 15px auto 2px auto;
        }
        p {
          position: absolute;
          top: -26px;
          left: -40px;
          pointer-events: none;
        }
      }
    }
    .arrow-5 {
      position: absolute;
      transform: rotate(-47deg);
      top: -45px;
      left: 50px;
      z-index: 999;
    }

    .image-container-process-5:hover .image-container-process {
      p {
        display: none;
      }
      transform: scale(.65);
      transform-origin: 95% 35%;
      img {
        pointer-events: none;
        margin: 18px auto 2px auto;
      }
    }
  }
}

.phone-mt-30 { 
  margin-top: 0px;
}

.phone-mt-20 { 
  margin-top: inherit;
}

@media screen and (max-width: 768px) {
  .app-footer {
    flex-direction: column;
    .footer-logo { 
      position: relative;
    }
  }
}

@media screen and (max-width: 992px) {
  .phone-mt-30 {
    margin-top: 30px;
  }
  .phone-mt-20 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1224px) {
  .our-process-section {
    display: none !important;
  }

}

// ................post page ========
.check_styling{
  color: blue;
}