.News_img{
    padding: 10px;
}
.News_img img{
border-radius: 20px;
}
.News_img h6{
    margin-top: 8px;
    font-size: 17px;
    text-align: justify;
    }
    .News_img h4{
        font-size: 17px;
        text-align: justify;
        }
    .News_img p{
        font-size: 14px;
        text-align: justify;
        }
        .News_img a{
            color:#4F4F4F;
            text-decoration: none;
            }