.Team_Back_Img {
  background-image: url("/assets/images/background_img.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
}
.pad_text {
  padding: 5px 30px 5px 45px;
}
.cards_Conainer .Card_box {
  border: 1px solid transparent;
  background-color: #f1ffd8;
  padding: 27px 15px 10px 15px;
  border-radius: 10px;
  margin-top: 45px;
  min-height: 260px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.cards_Conainer .Card_box:hover {
  border: 1px solid transparent;
  background-color: #c0e778;
  padding: 27px 15px 10px 15px;
  border-radius: 10px;
  margin-top: 45px;
  min-height: 260px;
  cursor: pointer;
}
.cards_Conainer .Card_box h3 {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.cards_Conainer .Card_box p {
  font-size: 14px;
}
.cards_Conainer .Card_box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.teamlink {
  text-decoration: none;
}

@media (max-width: 991px) {
  .about-text {
    margin-top: 40px;
  }
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 10px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h4 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h4 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  text-align: justify;
}
.about-text p mark {
  font-weight: 600;
  color: #3a3973;
}
.about-text .btn-bar {
  padding-top: 8px;
}
.about-text .btn-bar a {
  min-width: 150px;
  text-align: center;
  margin-right: 10px;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #3a3973;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #3a3973;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

.about-img {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
  background: #ffffff;
}
@media (max-width: 991px) {
  .about-img {
    margin-top: 30px;
  }
}

.counter-section {
  padding: 40px 20px;
}
.counter-section .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.counter-section .count {
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
}
.counter-section p {
  font-weight: 500;
  margin: 0;
  color: #a9c96e;
}
.theme-color {
  color: #a9c96e;
}

.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #ebf4fa;
}
.px-btn.theme {
  background: #a9c96e;
  color: #ffffff;
  border: 2px solid#A9C96E;
}
.px-btn {
  padding: 0 20px;
  line-height: 42px;
  border: 2px solid transparent;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.px-btn.theme-t {
  background: transparent;
  border: 2px solid #a9c96e;
  color: #a9c96e;
}

.backteambtn {
  text-align: right;
}
.backteambtn a {
  color: #a9c96e;
  font-size: 21px;
  text-decoration: none;
}
