.Team_Back_Img{
    background-image: url('/assets/images/background_img.png');
  background-color: #cccccc; /* Used if the image is unavailable */
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
}
.align_text{
    text-align: left;
}
.cards_Conainer .Card_box{
    border: 1px solid transparent;
    background-color: #F1FFD8;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    .cards_Conainer .Card_box:hover{
        border: 1px solid transparent;
        background-color: #C0E778;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        cursor: pointer;
        }
    .cards_Conainer .Card_box h3{
        font-size: 13px;
        margin-top: 10px;
        font-weight: 700;

        }
        .cards_Conainer .Card_box p{
            font-size: 13px;    
            }
.cards_Conainer .Card_box img{
height: 90px;
width: 90px;
border-radius: 50%;
}









