---
permalink: /news
title: NIH Tech
layout: blog
---

<div class="News_main">
    <div class="">
      <div class="row m-0">
        {% assign posts = site.posts %}
        <div class="col-md-6 news_Img">
          <img src={{posts.first.img_path}} width="100%">
        </div>
        <div class="col-md-6 News_Para">
          <h6 class="Date">{{posts.first.post_date}}</h6>
          <h2>
            <a style="text-decoration: none; color: black;" href="{{ posts.first.url }}">{{posts.first.title}}</a>
          </h2>
          <p>
           {{posts.first.description}}
          </p>
        </div>

      </div>
    </div>


    <div class="mt-5">
      <div class="row m-0">
        {% for post in site.posts %}
        {% if forloop.first == false %}

        <div class="col-md-4 News_img">
          <img src="{{post.img_path}}" width="100%">
          <div class="News_Text">
            <h6 class="Date">{{post.post_date}}</h6>
            <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
            <p>{{ post.description }}</p>
          </div>
          
        </div>
        {% endif %}
             
        {% endfor %}
      </div>
      <!-- <div class="row">
        <div class="col-md-4 News_img">
          <img src="/assets/images/aboutus.png" width="100%">
          <h6 class="Date">2th November, 2021</h6>
          <h4>Transformation & Excellence Center for Health (TECH).</h4>
          <p>Transformation & Excellence Center for Health (TECH) has been functioning as a significant component
            of the National Institute of Health.</p>
        </div>

        <div class="col-md-4 News_img">
          <img src="/assets/images/aboutus.png" width="100%">
          <h6 class="Date">2th November, 2021</h6>
          <h4>Transformation & Excellence Center for Health (TECH).</h4>
          <p>Transformation & Excellence Center for Health (TECH) has been functioning as a significant component
            of the National Institute of Health.</p>
        </div>

        <div class="col-md-4 News_img">
          <img src="/assets/images/aboutus.png" width="100%">
          <h6 class="Date">2th November, 2021</h6>
          <h4>Transformation & Excellence Center for Health (TECH).</h4>
          <p>Transformation & Excellence Center for Health (TECH) has been functioning as a significant component
            of the National Institute of Health.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4 News_img">
          <a href="">
            <img src="/assets/images/aboutus.png" width="100%">
            <h6 class="Date">2th November, 2021</h6>
            <h4>Transformation & Excellence Center for Health (TECH).</h4>
            <p>Transformation & Excellence Center for Health (TECH) has been functioning as a significant component
              of the National Institute of Health.</p>
          </a>

        </div>

        <div class="col-md-4 News_img">
          <img src="/assets/images/aboutus.png" width="100%">
          <h6 class="Date">2th November, 2021</h6>
          <h4>Transformation & Excellence Center for Health (TECH).</h4>
          <p>Transformation & Excellence Center for Health (TECH) has been functioning as a significant component
            of the National Institute of Health.</p>
        </div>

        <div class="col-md-4 News_img">
          <img src="/assets/images/aboutus.png" width="100%">
          <h6 class="Date">2th November, 2021</h6>
          <h4>Transformation & Excellence Center for Health (TECH).</h4>
          <p>Transformation & Excellence Center for Health (TECH) has been functioning as a significant component
            of the National Institute of Health.</p>
        </div>
      </div>
    </div> -->

  </div>
