<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  </head>
  <body>
    {% include nav.html %}
    <div class="container">
   <!--   <h1>Who are we?</h1>
      <p>Transformation & Excellence Center for Health (TECH) has been functioning as a fundamental and significant component of the National Institute of Health. 
          <br><br>It was inaugurated by the Special Assistant to the Prime Minister on National Health Services, Regulations and Coordination, Dr Faisal Sultan in February 2021. It is involved in transforming the technical aspects of public health-related activities to improve the healthcare system in Pakistan.
          <br><br>TECH aims to drive the digital transformation of the healthcare system and services within Pakistan. It emphasizes to  guide, support,develop and deliver IT-centric healthcare projects in collaboration with the Ministry of National Health Services, in order to  facilitate international and regional collaborations, seek technical assistance, and participate in global disease control more effectively, thereby strengthening the vision & mission of NIH.
      </p>
      <img id="mainImage" src="/assets/images/aboutus.png"  style="float:right">
      <img id ="mono1"src="/assets/images/IMG_1160.jpg">
      <img id ="mono2"src="/assets/images/IMG_1163.jpg">
      <img id ="mono3"src="/assets/images/IMG_1164.png">
      -->
    </div>
    {% include footer.html %}
  </body>
</html>