
<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include nav.html %}
    <div class="container">
      <div class="contact">
        <h2>Contact Us</h2>
        <p>
          Want to know more about us? Or let us know more about you?<br>Contact us from one of our channels below
        </p>
        <h3 class="arrow mt-5">
          <a href="#">Submit a help request<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
        </h3>
        <h3 class="arrow mt-3">
          <a href="#">Collaboration inquiries <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
        </h3>
        <h3 class="brief_case mt-3">
          <a href="#"><span><i class="fa fa-briefcase"></i></span>Careers</a>
        </h3>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>