<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    <div class="container">
      <h2>Transformation & Excellence Center for Health - TECH</h2>
      <p>An initiative of the National Institute of Health</p>
    </div>
    {% include footer.html %}
  </body>
</html>