<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    <div class="container">
      <h2>Transformation & Excellence Center for Health - TECH</h2>
      <p>An initiative of the National Institute of Health</p>
      <!-- carousal -->
      <div id="mainSlideshow" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#mainSlideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#mainSlideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#mainSlideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" style="border-radius: 6px; overflow: hidden;">
             <div class="slide-image slide-image-1"></div>
             <div class="carousel-caption d-none d-md-block">
              <h2>Translating impact <br/> through innovation</h2>
              <p>Learn how we use innovation to tackle the nations <br/> toughest healthcare challenges.</p>
            </div>
          </div>
          <div class="carousel-item" style="border-radius: 6px; overflow: hidden;">
            <div class="slide-image slide-image-2"></div>
            <div class="carousel-caption d-none d-md-block">
              <h2>Translating impact <br/> through innovation</h2>
              <p>Learn how we use innovation to tackle the nations <br/> toughest healthcare challenges.</p>
            </div>
          </div>
          <div class="carousel-item" style="border-radius: 6px; overflow: hidden;">
            <div class="slide-image slide-image-3"></div>
            <div class="carousel-caption d-none d-md-block">
              <h2>Translating impact <br/> through innovation</h2>
              <p>Learn how we use innovation to tackle the nations <br/> toughest healthcare challenges.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainSlideshow" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainSlideshow" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>